html {
    background: #557585;
}
a {
    color: #8c19b3;
}
a:hover {
    color: #8c19b3;
    text-decoration: underline;
}
@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(20px, 0, 0);
  }
}
@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -moz-transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    -moz-transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    -moz-transform: translate3d(20px, 0, 0);
  }
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-5px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(10px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-20px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(20px, 0, 0);
    }
}
.shake {
  -webkit-animation: shake 1s infinite;
  -moz-animation: shake 1s infinite;
  animation: shake 1s infinite;
}
.msg {
    vertical-align: top;
    margin-top: 7px;
}
