html {
  background: #557585;
}

a {
  color: #8C19B3;
}

a:hover {
  color: #8C19B3;
  text-decoration: underline;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(20px, 0, 0);
  }
}

@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -moz-transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    -moz-transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    -moz-transform: translate3d(20px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}

.shake {
  -webkit-animation: shake 1s infinite;
  -moz-animation: shake 1s infinite;
  animation: shake 1s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  opacity: 0;
  animation: fadeInOut 5s 1;
}

.msg {
  background-color: none;
  width: 99%;
  vertical-align: top;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  line-height: 1rem;
}

.msg-bad {
  border-color: #FD8181;
  color: #FD8181
}

.msg-bad-close {
  float: right;
  background-color: #FD8181;
}

.msg-good {
  border-color: #02CA2D;
  color: #02CA2D;
}

.msg-good-close {
  float: right;
  background-color: #02CA2D;
}

.msg-friendly {
  border-color: khaki;
  color: khaki;
}

.is-justified-left-and-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.is-bold {
  font-weight: bold;
}