:root {
  --lightslate: #BCC6CC;
  --mediumslate: #99AABB;
  --darkslate: slategrey;
  --purple: #8C19B3;
  --msgbad: #AA0000;
  --msggood: #02FF35;
  --friendly: khaki;
}

.has-background-light {
  background-color: var(--lightslate);
}

.has-background-medium {
  background-color: var(--mediumslate);
}

.has-background-dark {
  background-color: var(--darkslate);;
}

a {
  color: var(--purple);
}

a:hover {
  color: var(--purple);
  text-decoration: underline;
}

.is-justified-left-and-right {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.is-bold {
  font-weight: bold;
}


/* Shake Animation */

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(20px, 0, 0);
  }
}

@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -moz-transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    -moz-transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    -moz-transform: translate3d(20px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}

.shake {
  -webkit-animation: shake 1s infinite;
  -moz-animation: shake 1s infinite;
  animation: shake 1s infinite;
}


/* Fade in and out Animation */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  opacity: 0;
  animation: fadeInOut 5s 1;
}


/* Popup Notifications */

.msg {
  display: flex;
  justify-content: space-between;
  background-color: none;
  width: 99%;
  vertical-align: top;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  line-height: 1rem;
}

.msg-bad {
  border-color: var(--msgbad);
  color: var(--msgbad);
}

.msg-bad-close {
  background-color: var(--msgbad);
}

.msg-good {
  border-color: var(--msggood);
  color: var(--msggood);
}

.msg-good-close {
  background-color: var(--msggood);
}
