<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>User Account Confirmation</title>
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>

<table class="body-wrap">
	<tr>
		<td class="container">
			<div class="content">
				<table class="main">
					<tr>
						<td class="content-wrap">
							<table>
								<tr>
									<td class="content-block">
										<h3>Please&nbsp;activate&nbsp;your&nbsp;new&nbsp;User&nbsp;Account by&nbsp;clicking&nbsp;the&nbsp;Link&nbsp;below.</h3>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										If you have not signed up for our service, please ignore this message.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<a href="https://$FQDN$/users/confirmation/user/$UUID$" class="btn-primary">Yes, I am $NAME$.<br/>And henceforth I shall be a Member!</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										&mdash; The Baron
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="alignright content-block">Fork me on <a href="https://github.com/realulim/Bornemisza">Github</a>.</td>
						</tr>
					</table>
				</div>
			</div>
		</td>
	</tr>
</table>

</body>
</html>
