<aside>
    <div class="main">
        <div class="title">Link Spam</div>

        <a href="https://www.guarani-hilfe.de" class="item">
            <span class="icon"><i class="fa fa-child fa-childish" style="color: darkorange;"></i></span><span class="name">Guarani-Hilfe</span>
        </a>

        <a href="https://letsencrypt.org" class="item">
            <span class="icon"><i class="fa fa-lock" style="color: forestgreen;"></i></span><span class="name">Let's Encrypt</span>
        </a>

        <a href="https://www.wikipedia.de/" class="item">
            <span class="icon"><i class="fa fa-wikipedia-w" style="color: black"></i></span><span class="name">Wikipedia</span>
        </a>

        <spinner-toggle></spinner-toggle>

        <mode-box></mode-box>

        <batch-inputs></batch-inputs>
    </div>

    <style>
        a:hover {
            text-decoration: none;
            background-color: var(--selectcolor);
            font-weight: bold;
        }

        .item {
            color: var(--dark);
            display: flex;
            padding: 10px 0;
        }

        .remove-whitespace {
            font-size: 0;
        }

        .active {
            color: var(--purple);
            font-weight: bold;
        }

        .main {
            padding: 20px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .icon {
            font-size: 19px;
            padding-left: 10px;
            padding-right: 30px;
            justify-content: flex-start;
        }

        .name {
            font-size: 16px;
        }
    </style>

</aside>