<layout>

    <div class="columns is-gapless" style="margin-bottom: 0px;">

        <div id="aside" class="column is-2 hero is-fullheight has-background-medium is-hidden-mobile">
            <div id="aside-content"></div>
        </div>

        <div class="column is-10" style="background-color: var(--lightslate);">

            <div class="nav" style="background-color: var(--lightslate);"><!-- purple -->
                <div class="container">

                    <div class="container" style="background-color: var(--lightslate);"><!-- blue -->
                        <div id="top-content" class="has-text-centered is-size-4">
                        </div>
                    </div>

                    <hamburgermenu></hamburgermenu>

                </div>
            </div>

            <div class="hero is-small">
                <div class="hero-body" style="background-color: var(--lightslate);"><!-- lightgreen -->
                    <div id="hero-content" class="container" style="background-color: var(--lightslate);"><!-- lightsalmon -->
                        <h1 class="title">
                            Hero
                        </h1>
                        <h2 class="subtitle">
                            Hero content
                        </h2>
                    </div>
                </div>

                <div id="hero-footer" class="hero-foot" style="background-color: var(--lightslate);"><!-- yellow -->
                    <div class="level">
                        <div class="level-item has-text-centered">
                            <div style="background-color: var(--lightslate);"><!-- lightsalmon -->
                                <p class="heading">Hero Footer</p>
                                <p class="subtitle">Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" style="background-color: var(--lightslate);"><!-- burlywood -->
                <div class="columns is-mobile is-multiline">
                    <div class="column is-full">
                        <div id="slot1"></div>
                    </div>
                    <div class="column is-half-desktop is-full-mobile">
                        <div id="slot2"></div>
                    </div>
                    <div class="column is-half-desktop is-full-mobile">
                        <div id="slot3"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="footer" class="footer has-background-dark">
        <div class="container">
            <div id="footer-content" class="subtitle has-text-centered">
                Footer
            </div>
        </div>
    </div>

    <style>
        .checkbox-hidden {
            display: none;
        }

        #nav-toggle-state:checked~.nav-menu {
            display: block;
        }
    </style>

</layout>